node_modules
dist
build
.cache
.tmp
.strapi
.strapi-updater.json
.env
.env.*
public/uploads/*
!public/uploads/.gitkeep
.git
.gitignore
.vscode
*.log
Dockerfile
.dockerignore
docker-compose*.yml
README.md
scripts
.github
